body, html  {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #72afdc;
    color: #fff;
    font-family: 'Lobster', cursive;
  }

  
  .bg {
    /* The image used */
    background-image: url("unggoy2.jpg");
    /* Full height */
    height: 80%; 
    width: 40vw;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile:focus+label,
  .inputfile+label:hover {
    color: #610f13;
  }

  .inputfile+label * {
    pointer-events: none;
  }

  .inputfile:focus+label {
    outline: 1px dotted #610f13;
    outline: -webkit-focus-ring-color auto 5px;
  }

  .lds-heart {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    transform: rotate(45deg);
    transform-origin: 32px 32px;
    z-index: 998;
  }

  .lds-heart div {
    top: 23px;
    left: 19px;
    position: absolute;
    width: 26px;
    height: 26px;
    background: #e42c64;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background: #e42c64;
  }

  .lds-heart div:before {
    left: -17px;
    border-radius: 50% 0 0 50%;
  }

  .lds-heart div:after {
    top: -17px;
    border-radius: 50% 50% 0 0;
  }

  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }

    5% {
      transform: scale(1.1);
    }

    39% {
      transform: scale(0.85);
    }

    45% {
      transform: scale(1);
    }

    60% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(0.9);
    }
  }

  .upload-container{
    display: none;
    font-size: 2em;
    z-index: 999;
  }